* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Bakbak-One';
}

body {
  background: linear-gradient(135deg, rgb(77, 88, 107), rgb(18, 21, 26));

  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 100%;
  min-height: 100vh;
  margin-top: 5%;
  pointer-events: none;
}
.wrapper::after {
  content: '';
  width: 6px;
  height: 6px;
  background: rgb(172, 172, 172);
  border-radius: 50%;
  position: absolute;
  top: -3px;
  left: 50%;
  transform: translateX(-50%);
}
.pendulum {
  width: 1px;
  height: 350px;
  background: rgba(255, 255, 255, 0.05);
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%) rotate(-30deg);
  transform-origin: top;
}

.pendulum__ball {
  width: 100%;
  height: 100%;
  position: relative;
}
.pendulum__ball-after {
  position: absolute;
  width: 30px;
  height: 30px;
  background: linear-gradient(
    135deg,
    rgba(255, 255, 255, 0.95),
    rgba(172, 172, 172, 0.95)
  );

  border-radius: 50%;
  bottom: -30px;
  left: 50%;
  transform: translateX(-50%);
  box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.2);
}

@keyframes goLeft {
  0% {
    transform: translateX(-50%) rotate(-30deg);
    backdrop-filter: blur(2px);
  }
  100% {
    transform: translateX(-50%) rotate(30deg);
    backdrop-filter: blur(2px);
  }
}
@keyframes goRight {
  0% {
    transform: translateX(-50%) rotate(30deg);
    backdrop-filter: blur(2px);
  }
  100% {
    transform: translateX(-50%) rotate(-30deg);
    backdrop-filter: blur(2px);
  }
}

.project__title {
  font-family: 'Bakbak-One';
  font-size: 60px;
  color: #fff;
  font-weight: 700;
  margin-bottom: 30px;
}

.options {
  position: absolute;
  top: 30px;
  left: 30px;
}
.amount{
  display: flex;
  align-items: center;
}
.amount__input{
  display: block;
  appearance: none;
  cursor: pointer;
  border-radius: 3px;
}
.amount__input::-webkit-slider-runnable-track{
  width: 6px;
  height: 6px;
  background: #FFF;
  border-radius: 3px;
  appearance: none;
  position: relative;
}
.amount__input::-webkit-slider-thumb{
  width: 14px;
  height: 14px;
  margin-top: -4px;
  border-radius: 50%;
  appearance: none;
  background: #FFF;
  pointer-events: all;
  box-shadow: 0px 0px 6px 1px rgba(0, 0, 0, 0.3);
}
.amount__indicator{
  font-size: 15px;
  color: #FFF;
  width: 15px;
  content: attr(value);
  margin-left: 5px;
  pointer-events: none;
}
.amount__btn{
  padding: 8px 25px;
  border-radius: 5px;
  margin-left: 10px;
  background: #FFF;
  font-weight: 400;
  color: rgb(85, 98, 121);
  cursor: pointer;
  transition: 0.2s;
}
.amount__btn:hover{
  transform: scale(1.05);
}
